body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

h1, h2, h3 {
  margin-bottom: 1rem;
  color: #444;
}

button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
}

button:hover {
  opacity: 0.9;
}

/* Style global pour les modals (assombrir l'arrière-plan) */
.confirm-modal, .edit-modal {
  background-color: rgba(0, 0, 0, 0.5);  /* Fond sombre */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
